include LICENSE
include README.md
include pyproject.toml
include requirements.txt
include environment.yml

recursive-include checkpoints *
recursive-include configs *.yaml
recursive-include notebooks *.ipynb
recursive-include examples *

prune archives
prune data
prune exps
prune results

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
